@use "./styles/variables.scss" as *;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: $color-white-light;
  font-family: sans-serif;
  color: $color-grey-dark;
  scroll-margin-top: 60px;
}

html {
  scroll-behavior: smooth;
}

.main {
  margin-top: 60px;
  scroll-margin-top: 60px;
}

.main_section-subtitle {
  text-align: center;
  font-family: sans-serif;
  font-size: 1rem;
  margin-bottom: 10px;
}

.main_section-title {
  text-align: center;
  font-family: "futura", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  @include tablet() {
    font-size: 1.8rem;
  }
  @include desktop() {
    font-size: 2rem;
  }
}


